h2{

  font-size: 20px;
  font-family:Helvetica;
  color:#333366
  text-align: center;
 background-image: url(https://bomber.com.ua/images/stories/virtuemart/product/1-bluemarble_12d81a96e48bd8b7edc824ce0ddec495.jpg);
  background-size: 100%;
}
h1
{
  font-size: 15px;
  font-family: Verdana;
  color:yellow;
  text-align: left; 
 background-color: darkblue;
  background-size: 20%;
}
